# =========================
# ===== WHISPER MODELS ====
# =========================
whisper-finetuned/

# =========================
# ===== STT (Speech) ======
# =========================
STT/Segments/
STT/output_darja/
STT/laststation/
STT/dataset_darja/
STT/.venv/

# =========================
# ===== NLP ===============
# =========================
NLP/DATA/
NLP/local_models/
NLP/RESULT_monoTask/
NLP/RESULT_multiTask/

# =========================
# ===== MODELS (general) ==
# =========================
*.bin
*.pt
*.ckpt
*.safetensors

# =========================
# ===== AUDIO =============
# =========================
*.wav
*.mp3
*.flac

# =========================
# ===== DATA ==============
# =========================
*.csv
*.json

# =========================
# ===== PYTHON ============
# =========================
__pycache__/
*.pyc

# =========================
# ===== ENV ===============
# =========================
venv/
.env