whisper-finetuned/Darja/*.bin filter=lfs diff=lfs merge=lfs -text
whisper-finetuned/Darja/*.safetensors filter=lfs diff=lfs merge=lfs -text
whisper-finetuned/Darja/*.pt filter=lfs diff=lfs merge=lfs -text
